{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ (printf "%scss/index.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/projects.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
<script defer src="{{ (printf "%sfontawesome-6/all-6.4.2.js" (.Site.Params.staticPath | default "")) | relURL }}"></script>
{{ end }}

{{ define "title" }}{{ .Title }} — {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="section-page">
{{ $section := .Params.section }}
{{ if eq $section "about" }}
  {{- partial "sections/about.html" . -}}
  {{- partial "sections/testimonials.html" . -}}
{{ end }}
{{ if eq $section "projects" }}{{- partial "sections/projects.html" . -}}{{ end }}
{{ if eq $section "deep-case-study" }}{{- partial "sections/deep-case-study.html" . -}}{{ end }}
{{ if eq $section "experience" }}
  {{- partial "sections/experience.html" . -}}
  {{- partial "sections/achievements.html" . -}}
{{ end }}
{{ if eq $section "contact" }}{{- partial "sections/contact.html" . -}}{{ end }}
</div>
{{ end }}
